/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

@import 'config/breakpoints';
@import 'config/mixins';
@import 'config/variables';
@import 'utilities/helpers';
@import 'partials/recipe-teaser';

// Pre-header
@import 'partials/search';


// Header
@import 'partials/navigation';

// Pre-footer
@import 'partials/site-description';
@import 'partials/navigation-list';

// Layout
@import 'partials/layout/homepage';


/* switching to border-box model for all elements */
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

html {
    /* set base font-size to equiv "10px", which is adapted to rem unit */
    font-size: 62.5%;
    /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
    /* thanks to @guardian, @victorbritopro and @eQRoeil */
    font-size: calc(1em * 0.625);
}

body {
    font-size: $base-font-size;
    background-color: $background-base;
    color: $color-base;
    font-family: $font-stack-common;
    line-height: $line-height;
}

a {
    color: $color-link;
    text-decoration-style: dotted;
    &:focus,
    &:hover,
    &:active {
        color: $color-link-hover;
        text-decoration: underline;
    }
}

ul,
ol {
    padding-left: 2em;
}

img {
    vertical-align: middle;
}

blockquote,
figure {
    margin-left: 0;
    margin-right: 0;
}

/* font-sizing for content */
p,
.p-like,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
    margin-top: 0.75em;
    margin-bottom: 0;
    line-height: $line-height;
}

h1, .h1-like {
    font-size: $h1-size;
    font-family: $font-stack-headings;
    color: $color-headings;
    line-height: $h1-line-height;
}

h2, .h2-like {
    font-size: $h2-size;
    font-family: $font-stack-headings;
    color: $color-headings;
    line-height: $h2-line-height;
}

h3, .h3-like {
    font-size: $h3-size;
    font-family: $font-stack-headings;
    color: $color-headings;
    line-height: $h3-line-height;
}

h4, .h4-like {
    font-size: $h4-size;
    font-family: $font-stack-headings;
    color: $color-headings;
    line-height: $h4-line-height;
}

h5, .h5-like {
    font-size: $h5-size;
    font-family: $font-stack-headings;
    color: $color-headings;
    line-height: $h5-line-height;
}

h6, .h6-like {
    font-size: $h6-size;
    font-family: $font-stack-headings;
    color: $color-headings;
    line-height: $h6-line-height;
}

h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
    a {
        color: $color-black;
        text-decoration: none;
        &:focus,
        &:hover,
        &:active {
            color: $color-dim-gray;
            text-decoration: underline;
        }
    }    
}


/* avoid top margins on first content element */
p,
.p-like,
ul,
ol,
dl,
blockquote,
pre,
h1,
.h1-like,
h2,
.h2-like,
h3,
.h3-like,
h4,
.h4-like,
h5,
.h5-like,
h6,
.h6-like {
  &:first-child {
    margin-top: 0;
  }
}

/* avoid margins on nested elements */
li p,
li .p-like,
li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0;
}

/* max values */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
  max-width: 100%;
}

img {
  height: auto;
}
