// Config file and project variables

// font sizes
$base-font-size : 1.6rem; // ex. 1.6rem would be "16px" equivalent
$line-height    : 1.5;
$h1-size        : 3.8rem; // equiv "38px"
$h1-line-height : 1.2;
$h2-size        : 2.8rem; // equiv "28px"
$h2-line-height : 1.2;
$h3-size        : 2.1rem; // equiv "21px"
$h3-line-height : 1.2;
$h4-size        : 2.0rem; // equiv "20px"
$h4-line-height : 1.2;
$h5-size        : 1.8rem; // equiv "18px"
$h5-line-height : 1.2;
$h6-size        : 1.8rem; // equiv "18px"
$h6-line-height : 1.2;
$main-navigation-size        : 2.0rem; // equiv "20px"
$main-navigation-line-height : 1.2;


// font stacks
$font-stack-common    : 'Open Sans', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !default; // system font stack
$font-stack-headings  : 'Scope One', sans-serif !default; // headings font
$font-stack-monospace : consolas, courier, monospace !default; // monospace font

// color scheme
$color-portland-orange  : #ff6138;
$color-pine-green       : #00836d;
$color-dim-gray         : #5f635d;
$color-platinum         : #e6eee0;
$color-candy            : #cc2a00;
$color-dark-sea-green   : #79bd8f;
$color-old-lavender     : #767775;
$color-isabelline       : #f4f2e9;
$color-cerise           : #d93760;
$color-pearl-aqua       : #95cbc2;
$color-outer-space      : #464646;
$color-linen            : #fcece7;
$color-baby-pink        : #eec2cb;
$color-seashell         : #fbf5ee;
$color-black            : #000000;

// colors used in project
$color-base      : $color-outer-space;
$color-headings  : $color-black;
$color-link      : $color-pine-green;
$background-base : #fff;

// If you don't want any effect on focused/hovered links,
// comment variable below or make it equal to either $color-link or false or null
$color-link-hover: $color-candy;
// $brand-primary: $color5;


// spacings (choose unit you prefer)
$tiny-value             : .5rem !default; // tiny value for margins / paddings
$tiny-plus-value        : .7rem !default; // tiny+ value for margins / paddings
$small-value            : 1rem !default; // small value for margins / paddings
$small-plus-value       : 1.5rem !default; // small+ value for margins / paddings
$medium-value           : 2rem !default; // medium value for margins / paddings
$medium-plus-value      : 3rem !default; // medium+ value for margins / paddings
$large-value            : 4rem !default; // large value for margins / paddings
$large-plus-value       : 6rem !default; // large value for margins / paddings
$extra-large-value      : 8rem !default; // extra large value for margins / paddings
$extra-large-plus-value : 12rem !default; // extra large value for margins / paddings
$ultra-large-value      : 16rem !default; // ultra large value for margins / paddings
$ultra-large-plus-value : 20rem !default; // ultra large value for margins / paddings

//kna-namespace (default : null)
$kna-namespace: null !default;
